asttokens
backcall
certifi
charset-normalizer
colorama
decorator
executing
greenlet
idna
ipython
jedi
Jinja2
kaggle
MarkupSafe
matplotlib-inline
numpy
pandas
parso
pickleshare
prompt-toolkit
pure-eval
Pygments
python-dateutil
python-dotenv
python-slugify
pytz
requests
six
SQLAlchemy
stack-data
text-unidecode
tqdm
traitlets
urllib3
wcwidth
